div.slides
  markdown
    ---
    ## {{name}}

    #### {{description}}

    By {{author}}
    ---
  markdown
    ---
    ### Code
    ```javascript
        console.log('Hello world');
    ```
    ---
