<!DOCTYPE html>
html lang="en"
    head
        title -- {{name}}
        <!-- do not remove -->
        link rel="stylesheet" href="{{{lassoHead}}}"
    body
        marko-compiler-options preserve-whitespace
        div.reveal
            div.slides
                markdown
                    ---
                    ## {{name}}

                    #### {{description}}

                    By {{author}}
                    ---
                markdown
                    ---
                    ### Code
                    ```javascript
                        console.log('Hello world');
                    ```
                    ---
        <!-- do not remove -->
        script type="text/javascript" src="{{{lassoBody}}}"
        script type="text/javascript"
            ---
                Reveal.initialize();
                hljs.initHighlightingOnLoad();
            ---
