<!DOCTYPE html>
html lang="en"
    head
        title - {{name}}
        <!-- do not remove -->
        link rel="stylesheet" href="{{{lassoHead}}}"
    body
        div.reveal
            div.slides
                section data-markdown
                    script type='text-template'
                        ---
                            ## {{name}}

                            #### {{description}}

                            By {{author}}
                        ---
                section data-markdown
                    <!-- use normal html for slides that have code blocks so that whitespace is preserved-->
                    <script type='text/template'>
                        ### Code
                        ```javascript
                            console.log('Hello world');
                        ```
                    </script>
        <!-- do not remove -->
        script type="text/javascript" src="{{{lassoBody}}}"
        script type="text/javascript"
            ---
                Reveal.initialize();
                hljs.initHighlightingOnLoad();
            ---
